html {
  box-shadow: inset 0 0 0 1px #313131
}

body {
  color: #f2f2f2;
  background: #121212;
  padding: 20px;
  margin: 0;
  width: 305px;
  font-size: 16px;
}

.header {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.header svg {
  fill: #f2f2f2;
  width: 1em;
  height: 1em;
  vertical-align: top;
  display: inline-block;
  padding-top: 5px;
}

.update {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.update input {
  width: 100%;
  color: #f2f2f2;
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 8px;
  background: #171717;
  border: none;
  margin-right: 10px;
}

.update input:hover,
.update input:focus {
  outline: none;
}

.update a {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  background: #121212;
  transition: background-color 0.2s ease;
}

.update a:hover {
  background: #171717;
}

.update svg {
  fill: #fff;
  width: 1em;
  height: 1em;
}

.list {
  background: #171717;
  height: 280px;
  padding: 10px;
  list-style: none;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  gap: 20px;
}

.list .item .chapter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list .item .chapter span {
  font-weight: bold;
  white-space: nowrap;
}

.list .item .chapter svg {
  fill: #fff;
  width: 1em;
  height: 1em;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

p {
  text-align: justify;
}

a {
  color: aqua;
  cursor: pointer;
}

.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(170, 170, 170, 0.6);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

::-webkit-resizer {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
